<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/element-ui.css">

    <script src="/js/vue.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/element-ui.js"></script>
    <script src="/js/base64.js"></script>
    <script src="/js/common.js"></script>

    <style>

    </style>
</head>
<body style="padding:0px; margin-left:15px;  margin-top:10px; margin-bottom:0px; ">

<div id="vuebox" style="width:100%;margin-left:auto; margin-right:auto;">


</div>



<script>
    var box = new Vue({
        el: '#vuebox',
        computed: {},
        created() {
            vue = this;
            vue.onList();
        },
        methods: {
            onList() {

            },
        },
        data: {
        }
    });
</script>
</body>
</html>