<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/element-ui.css">

    <script src="/js/vue.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/element-ui.js"></script>
    <script src="/js/base64.js"></script>
    <script src="/js/common.js"></script>

    <style>
        .el-dialog__body {
            padding-top: 5px !important;
        }
    </style>
</head>
<body style="padding:0px; margin-left:15px;  margin-top:10px; margin-bottom:0px; ">
<div id="vuebox" style="width:100%;margin-left:auto; margin-right:auto;">
    <el-form :inline="true" style="">
        <el-form-item label="角色名称">
            <el-input v-model="conditions.roleName"></el-input>
        </el-form-item>

        <el-form-item label="新建时间">
            <el-date-picker v-model="conditions.createTime"
                            type="daterange"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            range-separator="至"
                            start-placeholder=""
                            end-placeholder="">
            </el-date-picker>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" v-on:click="onList">搜索</el-button>
        </el-form-item>
    </el-form>

    <el-row>
        <el-button type="primary" v-on:click="onShowInsert">新建</el-button>
    </el-row>

    <el-table :data="entityList" v-on:sort-change='onSortChange'v-loading="listLoading" size="medium"  element-loading-text="拼命加载中" highlight-current-row style="width: 100%; border-top:1px solid #ccc; margin-top:10px;" height="666">
        <el-table-column prop="roleName" label="角色名称" width="220" header-align="center" align="center" sortable='custom'></el-table-column>
<!--        <el-table-column prop="tenantId" label="角色归属" width="220" header-align="center" sortable='custom' :formatter="tenantIdFormatter"></el-table-column>-->
<!--        <el-table-column prop="remark" label="备注" width="420" header-align="center"></el-table-column>-->
        <el-table-column prop="createTime" label="新建时间" width="170" header-align="center" align="center" sortable='custom' :formatter="createTimeFormatter"></el-table-column>
        <el-table-column prop="" label="" width=""></el-table-column>
        <el-table-column fixed="right" label="操作" header-align="center" align="center" width="120">
            <template slot-scope="scope">
                <el-button type="text" v-on:click="onShowUpdate(scope.row.id)">修改</el-button>
                <el-button type="text" v-on:click="onDelete(scope.row.id)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <div style="margin-top:4px;">
        <el-pagination v-on:size-change="onPageSizeChange"
                       v-on:current-change="onPageNumberChange"
                       :current-page="page.pageNumber"
                       :page-sizes="[10, 20, 50, 100]"
                       :page-size="page.pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="page.totalCount">
        </el-pagination>
    </div>

    <el-dialog :modal="true" :close-on-click-modal="false" :title="editTitle" :visible.sync="editVisible">
        <el-tabs v-model="activeTab" type="card">
            <el-tab-pane label="基本信息" name="basic" style="height:370px;">
                <el-form :model="entity" ref="entity" :rules="editRules" label-width="120px">
                    <el-row>
                        <el-form-item label="角色名称" prop="roleName">
                            <el-input v-model="entity.roleName" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-row>

                    <el-form-item label="备注">
                        <el-input type="textarea" :rows="2" v-model="entity.remark"></el-input>
                    </el-form-item>
                </el-form>
            </el-tab-pane>

            <el-tab-pane label="角色权限" name="roleModule" style="height:370px;">
                <div style="height:390px; overflow:auto;">
                    <el-tree ref="moduleTree"
                             :data="moduleList"
                             show-checkbox
                             node-key="id"
                             :default-checked-keys="checkedKeys"
                             :props="treeProps">
                    </el-tree>
                </div>
            </el-tab-pane>
        </el-tabs>
        <div slot="footer" class="dialog-footer" style="margin-right:30px;">
            <el-button v-on:click="editVisible = false">取消</el-button>
            <el-button type="primary" v-on:click="onSave">确定</el-button>
        </div>

    </el-dialog>


</div>

<script>
    var box = new Vue({
        el: '#vuebox',
        computed:
            {},
        created() {
            vue = this;
            vue.onList();
        },
        methods: {
            getConditions() {
                var conditions = [];
                createCondition(conditions, "roleName", "LIKE", vue.conditions.roleName);
                createCondition(conditions, "createTime", "=", vue.conditions.createTime, "dateRange");
                return conditions;
            },
            onList() {
                commonList(vue.getConditions());
            },
            afterList(data) {
                vue.tenantId = data.tenantId;

            },
            onExportList() {
                commonExportList(vue.getConditions());
            },
            onPageSizeChange(val) {
                commonOnPageSizeChange(val);
            },
            onPageNumberChange(val) {
                commonOnPageNumberChange(val);
            },
            onSortChange: function (column, prop, order) {
                commonOnSortChange(column, prop, order);
            },
            get(id) {
                vue.checkedKeys = [];
                commonGet(id);
            },
            afterGet(data) {
                vue.moduleList = data.moduleList;
                vue.checkedKeys = data.moduleIds;
            },
            onShowInsert() {
                vue.checkedKeys = [];
                commonShowInsert();
            },
            onShowUpdate(id) {
                vue.checkedKeys = [];
                commonShowUpdate(id);
            },
            onSave() {
                vue.entity.moduleIds = vue.$refs.moduleTree.getCheckedKeys();
                commonSave();
            },
            onDelete(id) {
                commonDelete(id);
            },
            tenantIdFormatter (row, column) {
                return getCodeName(vue.tenantId, row.tenantId);
            },
            createTimeFormatter (row, column) {
                return getDateTime(row.createTime);
            },
        },
        data:
            {
                service: 'sysRole',
                displayName: '角色',
                conditions: {
                    roleName: "",
                    createTime: ""
                },
                page: {
                    pageNumber: 1,
                    pageSize: 10,
                    totalCount: 0,
                    orderBy: ""
                },
                listLoading: false,
                entityList: [],
                editTitle: "",
                editVisible: false,
                entity: {
                    id: "",
                    roleName: "",
                    contactName: "",
                    contactMobile: "",
                    contactEmail: "",
                    address: "",
                    remark: ""
                },
                editRules: {
                    roleName: [
                        {required: true, message: '角色名称不能为空', trigger: 'blur'}
                    ]
                },
                valid: true,
                tenantId:[],
                moduleList: [],
                expandedKeys: [],
                checkedKeys: [],
                treeProps: {
                    children: 'moduleList',
                    label: 'moduleName'
                },
                activeTab: "basic"
            }
    });
</script>
</body>
</html>